* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
}
html {
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth; */
  overflow-y: hidden;
}
body {
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
}
.globe_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: black;
  flex-direction: column;
}
.globe {
  border: 2px solid #1f7cff;
  border-radius: 50%;
  height: 140px;
  overflow: hidden;
  width: 140px;
  margin-bottom: 30px;
}
.globe svg {
  animation: rotation 5s linear 0s infinite;
}
.globe path {
  stroke: #1f7cff;
}
.progress_bar {
  width: 204px;
  height: 10px;
  border-radius: 50px;
  border: 2px solid #1f7cff;
}
.progress_bar_internal {
  background-color: #1f7cff;
  width: 0px;
  height: 4px;
  position: absolute;
  margin-top: 1px;
  border-radius: 50px;
  margin-left: 2px;
  transition-duration: 150ms;
}

@keyframes rotation {
  from {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}

.webgl {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 200vh;
}
nav {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 13vh;
  z-index: 2;
}
nav h1 {
  color: #fafafa;
  margin-left: 50px;
  font-size: 2rem;
}
nav ul {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
.section-1 {
  height: 100vh;
  width: 100vw;
  /* scroll-snap-align: start; */
}
.section-2 {
  height: 100vh;
  width: 100vw;
  /* scroll-snap-align: start; */
}
.homeText {
  opacity: 1;
  position: absolute;
  color: #fafafa;
  width: 50vw;
}
.homeText1 {
  top: 40vh;
  left: 5vw;
}
.homeText2 {
  bottom: 40vh;

  right: 5vw;
}
.homeText p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.homeText h1 {
  font-size: 2rem;
}
nav .home {
  text-decoration: none;
}
.disppear {
  animation: vanish 0.2s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.homeText2 h1 {
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-size: 0.9rem;
}
.gravity {
  cursor: pointer;
  text-align: center;
}
.gravity_line {
  left: -1px;
  top: 40px;
  position: absolute;
  width: 0;
  height: 5px;
  background-color: blue;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}
.gravityHovered {
  animation: gravityAnimation 200ms ease-in-out forwards;
}
.gravityUnHovered {
  animation: gravityUnAnimation 200ms ease-in-out forwards;
}
@keyframes gravityAnimation {
  from {
    width: 0px;
  }
  to {
    width: 118px;
  }
}
@keyframes gravityUnAnimation {
  from {
    width: 118px;
  }
  to {
    width: 0px;
  }
}
/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}


/*# sourceMappingURL=main.css.map*/